body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #40514e;
}

h1 {
  /* 16px= 100%= 1em  */
  /* 90px= 562.5%= 5.625em */
  font-size: 5.625rem; /* Setting a dynamic size */
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #0c781c;
  /* line-height: 2; */
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #0c781c;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #0c781c;
  line-height: 2;
}

a {
  color: #0c781c;
  margin-left: 10px;
  margin-right: 10px;
}

a:hover {
  color: #000000;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
}

p {
  line-height: 2;
}

.top-container {
  margin-top: 0;
  background-image: url('https://res.cloudinary.com/dduur8qoo/image/upload/v1702666702/WEB_gnydf7.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #d4fce1;
  color: #0c781c;
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 230px;
}

.skills {
  margin: 75px auto;
}

.skill-row {
  width: 50%;
  margin: 75px auto;
  text-align: left;
}
.frontend-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}
.design-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.profile {
  width: 30%;
  margin: 50px auto;
}

.contact-me {
  width: 40%;
  margin: 75px auto;
}

.profile-img {
  width: 45%;
}

.contact-info {
  margin-bottom: 36px;
}

.btn {
  background: #6fe754;
  background-image: -webkit-linear-gradient(top, #6fe754, #0c781c);
  background-image: -moz-linear-gradient(top, #6fe754, #0c781c);
  background-image: -ms-linear-gradient(top, #6fe754, #0c781c);
  background-image: -o-linear-gradient(top, #6fe754, #0c781c);
  background-image: linear-gradient(to bottom, #6fe754, #0c781c);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.projects {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cont {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont > a > img {
  width: 90%;
}
.project {
  margin: auto 2rem;
  border: 1px solid #0c781c;
  height: 16rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-bottom: 3rem;
  transition: all 0.1s ease;
}
.project:hover {
  background-color: #1ea833;
  box-shadow: 6px 6px 0px #0c781c;
  cursor: pointer;
  transform: scale(1.05);
}
